html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px 0; /* bottom = footer height */
}
#hintCount {
  background-color:rgba(200,200,200,.5);
  float:right;
  position:relative;
  top:-4em;
  padding:20px 50px 20px 20px;
}
#mips-content{
  position:absolute;
  top:7em;
  bottom:5em;
  left:0px;
  right:0px;
  overflow:auto;
}
#header {
  position:absolute;
  top:0px;
  left:0px;
  height:7em;
  right:0px;
  overflow:hidden;
}
#title {
  padding:.25em;
  display:block;
  /* float:center; */
  text-shadow: 0px 0px 8px #000000;
  color:white;
  font-size:3em;
  text-align: center;
  /* width:100px; */
}
#thefooter {
  position:absolute;
  bottom:0px;
  height:5em;
  left:0px;
  right:0px;
  overflow:hidden;
}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
